# Virtual environment
venv/
venv*/
.Python
bin/
include/
lib/
lib64/
pip-selfcheck.json

# IDE files
.cspell.json
.vscode/
.idea/
*.iml
*.pyc

# Environment variables
.env

# Database
friends.db

# Compiled Python files
__pycache__/
*.pyc

# Dependency directories
node_modules/
/dist/